@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #0b1f3a 40%, #b49132);
  color: #fff;
  min-height: 100vh;
  padding-top: 80px;
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 18px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}


.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  background: rgba(255, 255, 255, 0.12);
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(7px);
}


.container h2 {
  font-size: 2.2rem;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 600;
  color: #ffd577;
}


.denuncia-item {
  background: rgba(255, 255, 255, 0.15);
  padding: 22px;
  border-radius: 15px;
  margin-bottom: 22px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: 0.2s ease;
}

.denuncia-item:hover {
  transform: scale(1.01);
  background: rgba(255, 255, 255, 0.2);
}


.denuncia-item p {
  margin: 6px 0;
  font-size: 1rem;
}

strong {
  color: #f2cd66;
  font-weight: 600;
}


select {
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 1rem;
  margin-top: 10px;
  background: #ffffffd9;
}


button {
  padding: 10px 18px;
  background: #b49132;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  margin-left: 10px;
  margin-top: 10px;
  transition: 0.2s ease;
}

button:hover {
  background: #d9b850;
  transform: scale(1.05);
}

.back-btn {
    position: absolute;
    top: 100px;
    left: 25px;
    color: #f1c46b;
    text-decoration: none;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.08);
    padding: 8px 14px;
    border-radius: 8px;
    transition: 0.3s;
}

.back-btn:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: translateY(-2px);
}


::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb { background: #b49132; border-radius: 10px; }
::-webkit-scrollbar-track { background: rgba(255,255,255,0.1); }
